<h1>Welcome We Hope You Find The Accomodations of Your Dreams</h1>


<form id="listing-search" action = '/listings' data-remote="true">
  <input type="text" class="form-control col-md-6" id="search" name="search" placeholder="Search Listings">
</form>

<br>
<br>
<hr>
<h3>Current Listings:<h3>

<%= render('list') %>
